<header class="{{ classes }}">
    <nav class="navbar navbar-expand-md">
        <div class="container container-fluid">

            <a class="navbar-brand display-3 mb-2 mb-md-0" href="index.html#">
                <img class="navbar-brand-image" src="./assets/images/logo.svg" alt="Logo">
                The Chess Exchange
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarHeader">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="https://symphonious-hamster-fb8ebe.netlify.app/about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="members.html">Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://symphonious-hamster-fb8ebe.netlify.app/gallery.html">Gallery</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>