<header class="col-span-full">
    <nav class="py-sm container flex justify-between items-center">
        <a class="font-display flex gap-xs items-center py-xxs text-xl" href="index.html#">
            <img class="h-12" src="./assets/images/logo.svg" alt="Logo">
            The Chess Exchange
        </a>

        <button class="md:hidden border rounded-md text-3xl w-14 border-black/10" type="button" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>

        <include src="./components/menu-header.html"></include>

    </nav>
</header>